body{
    margin: 0;
    padding: 0;
}

header{
    background-color: lightskyblue;
    overflow: hidden;
    width: 80%;
    margin: auto;
    padding: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.281);
    border-radius: 0px 0px 15px 15px;

}

.logo{
    float: left;
    
}

ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

li{
    float: left;
    margin-left: 5px;
    background-color: lightskyblue;
    color: black;
    padding: 0px 5px;
    border-radius: 4px;

}

li:hover{
    background-color: black;
    color: lightskyblue;
}


@media screen and (max-width:500px){
    .logo{
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }

    ul{
        float:none;
    }

    li{
        float: none;
        text-align: center;
        padding: 5px;
        margin-bottom: 10px;
    }
}